/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            pattern: '*multiqc_report.html'
        ]
    }

    withName: FASTQC_UNCLASSIFIED {
        ext.args = '--quiet'
    }

    withName: MULTIQC_UNCLASSIFIED {
        publishDir = [
            path: { "${params.outdir}/multiqc_unclassified" },
            mode: params.publish_dir_mode,
            pattern: '*multiqc_report.html'
        ]
    }

    withName: BBMAP_BBDUK {
        ext.prefix = { "${meta.id}_bbtrim" }
        ext.args = 'minlen=35 qtrim=rl trimq=10 ktrim=r k=25 mink=11 ref=adapters,artifacts hdist=1'
        publishDir = [
            path: { "${params.outdir}/bbduk" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,gz}"
        ]
    }    

    withName: KRAKEN2_KRAKEN2 {
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: params.publish_dir_mode,
            pattern: "*.{unclassified*.gz,txt}"
        ]        
    }   

    withName: KRAKEN2_REPORT {
        publishDir = [
            path: { "${params.outdir}/kraken2_report" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt}"
        ]        
    } 

    withName: BOWTIE2_ALIGN {
        ext.args = '--no-unal'
        ext.args2 = '-bS'
        ext.prefix = { "${meta.id}_${index}_aligned_sorted" }        
        publishDir = [
            path: { "${params.outdir}/reference_aligned" },
            mode: params.publish_dir_mode,
            pattern: "*{sorted.bam,.log}"
        ]        
    } 

    withName: BBMAP_ALIGN {
        ext.args = 'minid=0.6'
        publishDir = [
            path: { "${params.outdir}/bbmap_align" },
            mode: params.publish_dir_mode,
            pattern: "*{.fastq.gz,.txt,.log}"
        ]        
    }

    withName: SPADES {
        publishDir = [
            path: { "${params.outdir}/spades" },
            mode: params.publish_dir_mode,
            pattern: "*{.scaffolds.fa.gz,.contigs.fa.gz}"
        ]  
    }

    withName: RGI_MAIN {
        ext.args2 = '--include_loose --include_nudge --low_quality'
        publishDir = [
            path: { "${params.outdir}/rgi_card" },
            mode: params.publish_dir_mode,
            pattern: "*{_summary.txt}"
        ]  
    }

	withName: SUMMARY {
        errorStrategy = 'ignore'
		publishDir =[
			path: { "${params.outdir}/summary" },
			mode: params.publish_dir_mode,
			pattern: "*.summary.tsv"
		]
	}

	withName: FINAL {
		publishDir = [
			path: { "${params.outdir}" },
			mode: params.publish_dir_mode,
			pattern: "summary*.tsv"
		]
	}    

}
